<nav>
  <div>
    <a href="/">Peter Marcano</a>
  </div>
  <div>
    <a href="/about">About</a>
    <a href="/thoughts">Thoughts</a>
    <a href="/projects">Projects</a>
    {% comment %} <a href="/newsletter">Newsletter</a> {% endcomment %}
    {% comment %} <a href="/hire-me">Hire me</a> {% endcomment %}
  </div>
</nav>
